/* Styling overriding PrimeFaces */

/* Table details */
.centeredColumn {
	text-align: center;
}

.booleanButton {
	width: 50px;
}

.basicform {
 	height: 490px;
 }

/* Setting styles */

.settingCheckbox {
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.settingGrid {
	padding-top: 55px;
	padding-left: 55px;
}

/* Chat styles */

.chattInput {
	width: 334px;
}
