/* Core styles for the page */
body {
	margin: 0;
	padding: 0;
	background-color: #1b94c4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.80em;
	color: #363636;
}

#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border-top: 5px solid #000000;
	border-left: 5px solid #8c8f91;
	border-right: 5px solid #8c8f91;
	border-bottom: 25px solid #8c8f91;
	width: 1000px; /* subtract 40px from banner width for padding */
	background: #FFFFFF;
	background-image:
		url(#{request.contextPath}/resources/gfx/headerbkg.png);
	background-repeat: repeat-x;
	padding-top: 30px;
	box-shadow: 3px 3px 15px #d5d5d5;
}

#content {
	float: left;
	width: 670px;
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

}

#listContent {
	float: left;
	width: 100%;
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

}

#aside {
	font-size: 0.9em;
	width: 265px;
	float: left;
	margin-left: 0px;
	margin-top: 41px;
	padding: 20px;
}

#headbanner {
	max-width: 100%;
	margin-top: -50px
}

#header{
	max-width: 100%;
	margin-top: -65px
}

#footer {
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
	background-color: #f5a825;
}

#footerH2{
	color: white;
}

#h3viewBookings:hover{
	color: #1b94c4;
}
#h3viewBookings{

}

#viewBookingsAdmin{
	float: right;
}

a {
	color: #4a5d75;
	text-decoration: none;
}

a:hover {
	color: #369;
	text-decoration: underline;
}

h1 {
	color: #243446;
	font-size: 2.25em;
}

h2 {
	font-size: 1em;
}

h3 {
	color: #243446;
}

h4 {

}

h5 {

}

h6 {

}
.outputText{
	font-weight: bold;
}
.datalist-noborder .ui-widget-content {
	border: none;
}

/* Styles for the first 100 bts in the seat menu */
.manyBtn div:nth-child(1) span {
    width: 16px;
}
.manyBtn div:nth-child(2) span {
    width: 16px;
}
.manyBtn div:nth-child(3) span {
    width: 16px;
}
.manyBtn div:nth-child(4) span {
    width: 16px;
}
.manyBtn div:nth-child(5) span {
    width: 16px;
}
.manyBtn div:nth-child(6) span {
    width: 16px;
}
.manyBtn div:nth-child(7) span {
    width: 16px;
}
.manyBtn div:nth-child(8) span {
    width: 16px;
}
.manyBtn div:nth-child(9) span {
    width: 16px;
}
.manyBtn div:nth-child(10) span {
    width: 16px;
}
.manyBtn div:nth-child(11) span {
    width: 16px;
}
.manyBtn div:nth-child(12) span {
    width: 16px;
}
.manyBtn div:nth-child(13) span {
    width: 16px;
}
.manyBtn div:nth-child(14) span {
    width: 16px;
}
.manyBtn div:nth-child(15) span {
    width: 16px;
}
.manyBtn div:nth-child(16) span {
    width: 16px;
}
.manyBtn div:nth-child(17) span {
    width: 16px;
}
.manyBtn div:nth-child(18) span {
    width: 16px;
}
.manyBtn div:nth-child(19) span {
    width: 16px;
}
.manyBtn div:nth-child(20) span {
    width: 16px;
}.manyBtn div:nth-child(21) span {
    width: 16px;
}
.manyBtn div:nth-child(22) span {
    width: 16px;
}
.manyBtn div:nth-child(23) span {
    width: 16px;
}
.manyBtn div:nth-child(24) span {
    width: 16px;
}
.manyBtn div:nth-child(25) span {
    width: 16px;
}
.manyBtn div:nth-child(26) span {
    width: 16px;
}
.manyBtn div:nth-child(27) span {
    width: 16px;
}
.manyBtn div:nth-child(28) span {
    width: 16px;
}
.manyBtn div:nth-child(29) span {
    width: 16px;
}
.manyBtn div:nth-child(30) span {
    width: 16px;
}.manyBtn div:nth-child(31) span {
    width: 16px;
}
.manyBtn div:nth-child(32) span {
    width: 16px;
}
.manyBtn div:nth-child(33) span {
    width: 16px;
}
.manyBtn div:nth-child(34) span {
    width: 16px;
}
.manyBtn div:nth-child(35) span {
    width: 16px;
}
.manyBtn div:nth-child(36) span {
    width: 16px;
}
.manyBtn div:nth-child(37) span {
    width: 16px;
}
.manyBtn div:nth-child(38) span {
    width: 16px;
}
.manyBtn div:nth-child(39) span {
    width: 16px;
}
.manyBtn div:nth-child(40) span {
    width: 16px;
}.manyBtn div:nth-child(41) span {
    width: 16px;
}
.manyBtn div:nth-child(42) span {
    width: 16px;
}
.manyBtn div:nth-child(43) span {
    width: 16px;
}
.manyBtn div:nth-child(44) span {
    width: 16px;
}
.manyBtn div:nth-child(45) span {
    width: 16px;
}
.manyBtn div:nth-child(46) span {
    width: 16px;
}
.manyBtn div:nth-child(47) span {
    width: 16px;
}
.manyBtn div:nth-child(48) span {
    width: 16px;
}
.manyBtn div:nth-child(49) span {
    width: 16px;
}
.manyBtn div:nth-child(50) span {
    width: 16px;
}.manyBtn div:nth-child(51) span {
    width: 16px;
}
.manyBtn div:nth-child(52) span {
    width: 16px;
}
.manyBtn div:nth-child(53) span {
    width: 16px;
}
.manyBtn div:nth-child(54) span {
    width: 16px;
}
.manyBtn div:nth-child(55) span {
    width: 16px;
}
.manyBtn div:nth-child(56) span {
    width: 16px;
}
.manyBtn div:nth-child(57) span {
    width: 16px;
}
.manyBtn div:nth-child(58) span {
    width: 16px;
}
.manyBtn div:nth-child(59) span {
    width: 16px;
}
.manyBtn div:nth-child(60) span {
    width: 16px;
}.manyBtn div:nth-child(61) span {
    width: 16px;
}
.manyBtn div:nth-child(62) span {
    width: 16px;
}
.manyBtn div:nth-child(63) span {
    width: 16px;
}
.manyBtn div:nth-child(64) span {
    width: 16px;
}
.manyBtn div:nth-child(65) span {
    width: 16px;
}
.manyBtn div:nth-child(66) span {
    width: 16px;
}
.manyBtn div:nth-child(67) span {
    width: 16px;
}
.manyBtn div:nth-child(68) span {
    width: 16px;
}
.manyBtn div:nth-child(69) span {
    width: 16px;
}
.manyBtn div:nth-child(70) span {
    width: 16px;
}.manyBtn div:nth-child(71) span {
    width: 16px;
}
.manyBtn div:nth-child(72) span {
    width: 16px;
}
.manyBtn div:nth-child(73) span {
    width: 16px;
}
.manyBtn div:nth-child(74) span {
    width: 16px;
}
.manyBtn div:nth-child(75) span {
    width: 16px;
}
.manyBtn div:nth-child(76) span {
    width: 16px;
}
.manyBtn div:nth-child(77) span {
    width: 16px;
}
.manyBtn div:nth-child(78) span {
    width: 16px;
}
.manyBtn div:nth-child(79) span {
    width: 16px;
}
.manyBtn div:nth-child(80) span {
    width: 16px;
}.manyBtn div:nth-child(81) span {
    width: 16px;
}
.manyBtn div:nth-child(82) span {
    width: 16px;
}
.manyBtn div:nth-child(83) span {
    width: 16px;
}
.manyBtn div:nth-child(84) span {
    width: 16px;
}
.manyBtn div:nth-child(85) span {
    width: 16px;
}
.manyBtn div:nth-child(86) span {
    width: 16px;
}
.manyBtn div:nth-child(87) span {
    width: 16px;
}
.manyBtn div:nth-child(88) span {
    width: 16px;
}
.manyBtn div:nth-child(89) span {
    width: 16px;
}
.manyBtn div:nth-child(90) span {
    width: 16px;
}.manyBtn div:nth-child(91) span {
    width: 16px;
}
.manyBtn div:nth-child(92) span {
    width: 16px;
}
.manyBtn div:nth-child(93) span {
    width: 16px;
}
.manyBtn div:nth-child(94) span {
    width: 16px;
}
.manyBtn div:nth-child(95) span {
    width: 16px;
}
.manyBtn div:nth-child(96) span {
    width: 16px;
}
.manyBtn div:nth-child(97) span {
    width: 16px;
}
.manyBtn div:nth-child(98) span {
    width: 16px;
}
.manyBtn div:nth-child(99) span {
    width: 16px;
}
.manyBtn div:nth-child(100) span {
    width: 16px;
}

