<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>${artifactId}</title>
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<h:outputStylesheet name="css/screen.css" />
	
</h:head>
<h:body>
	<h:outputStylesheet name="css/primefacesoverride.css" />
	<div id="container">
		<div id="header">
			<h:link outcome="index">
				<h:graphicImage value="/resources/gfx/header.png"></h:graphicImage>
			</h:link>
		</div>
		<div id="content">
			<ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
		</div>
		<div id="aside">
			<h:form>
				<p:gmap center="41.381542, 2.122893" zoom="15" type="ROADMAP"
					style="width:275px;height:400px" streetView="true" />
			</h:form>
		</div>
		<div id="footer">
			<h2 id="footerH2">
				Site built by: Viktor Lindh and Morgan Gideryd | Yrkesakademin Östersund  
				<p:link id="viewBookingsAdmin" outcome="admin/showBookings" value="ADMIN"></p:link><br />
			</h2>
		</div>
	</div>
</h:body>
</html>
