<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>${artifactId}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
	<h:outputStylesheet name="css/primefacesoverride.css" />
	<div id="container">
		<div id="header">
			<h:link outcome="/index">
              <h:graphicImage value="/resources/gfx/header.png"></h:graphicImage>
            </h:link>			
		</div>
		<div id="listContent">
			<ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
		</div>
		<div id="footer">
			<h2 id="footerH2">
				Site built by: Viktor Lindh and Morgan Gideryd | Yrkesakademin Östersund <br />
			</h2>		
		</div>
	</div>		
</h:body>
</html>