<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
		
	<h:form>              
    <p:growl id="growl" sticky="true" showDetail="true"/>
    <p:wizard flowListener="#{bookingController.onFlowProcess}">
        <p:tab id="seats" title="Seats">
            <p:panel header="Select seats">
                <p:messages />
                <h:panelGrid columns="2" columnClasses="label, value">
                    <p:selectManyButton required="true" styleClass="manyBtn"
				converter="omnifaces.SelectItemsConverter" label="Seat"
				id="selectedButton" value="#{bookingController.selectedSeats}"  >

				<f:selectItems value="#{bookingController.allSeats}" var="seats"
					itemLabel="#{seats.seatNumber}" itemValue="#{seats}" 
					itemDisabled="#{bookingController.disableSeats(seats.seatLock)}"/>					
				</p:selectManyButton>
                </h:panelGrid>
            </p:panel>
        </p:tab>
 
        <p:tab id="personal" title="Personal">
            <p:panel header="Person Details">
                <p:messages />
                <h:panelGrid columns="2" columnClasses="label, value">
                    <h:outputText value="Firstname: *" />
                    <p:inputText id="firstName" value="#{bookingController.customerDO.firstName}" required="true" label="Firsname" >
                    <f:validateLength minimum="2" />
                    </p:inputText>
 
                    <h:outputText value="Lastname: *" />
                    <p:inputText id="lastName" value="#{bookingController.customerDO.lastName}" required="true" label="Lastname">
                    <f:validateLength minimum="2" />
                    </p:inputText>
 
                    <h:outputText value="Email: *" />
                    <p:inputText id="email" value="#{bookingController.customerDO.email}" required="true" label="Email">
                    <f:validateLength minimum="2" />
                    </p:inputText>
                    
                    <h:outputText value="Phone: *" />
                    <p:inputMask id="custPhone"
					value="#{bookingController.customerDO.phone}" required="true"
					label="Phone" mask="999-9999999">
					</p:inputMask>
                </h:panelGrid>
            </p:panel>
        </p:tab>
 
        <p:tab id="payment" title="Payment">
            <p:panel header="Payment Details">
                <p:messages />
                <h:panelGrid columns="2" columnClasses="label, value">
                    <h:outputText value="Cardholder name: *" />
                    <p:inputText id="cardName" value="#{bookingController.paymentRequestDTO.cardHolderName}" required="true" label="Name">
                    <f:validateLength minimum="2" />
                    </p:inputText>
 
                    <h:outputText value="Card nr: *" />
                    <p:inputMask id="cardNr"
					value="#{bookingController.paymentRequestDTO.cardNumber}" required="true"
					label="Card Nr" mask="9999">
					</p:inputMask>
                </h:panelGrid>
            </p:panel>
        </p:tab>
 
        <p:tab id="confirm" title="Confirmation">
            <p:panel header="Confirmation" styleClass="confirmation">
                <h:panelGrid id="confirmation" columns="1" columnClasses="grid" styleClass="datalist-noborder">
                    <h:panelGrid columns="2" columnClasses="label, value">
                        <h:outputText styleClass="outputText" value="Firstname: " />
                        <h:outputText value="#{bookingController.customerDO.firstName}" styleClass="outputLabel"/>
 
                        <h:outputText styleClass="outputText" value="Lastname: " />
                        <h:outputText value="#{bookingController.customerDO.lastName}" styleClass="outputLabel"/>
 
                        <h:outputText styleClass="outputText" value="Email: " />
                        <h:outputText value="#{bookingController.customerDO.email}" styleClass="outputLabel"/>
                        
                        <h:outputText styleClass="outputText" value="Phone: "/>
                        <h:outputText value="#{bookingController.customerDO.phone}" styleClass="outputLabel"/>
                                              
                        <h:outputText styleClass="outputText" value="Seat: " />
                        <p:dataList value="#{bookingController.selectedSeats}" var="seat" styleClass="outputLabel" type="definition">
    						  		#{seat.seatNumber}
   						</p:dataList>

                        <h:outputText styleClass="outputText" value="Cardholder: " />
                        <h:outputText value="#{bookingController.paymentRequestDTO.cardHolderName}" styleClass="outputLabel"/>
 
                        <h:outputText styleClass="outputText" value="Card nr: " />
                        <h:outputText value="#{bookingController.paymentRequestDTO.cardNumber}" styleClass="outputLabel"/>  
                        
                        <h:outputText styleClass="outputText" value="Price: " />
                        <h:outputText value="#{bookingController.selectedSeats.size()*200}:-" styleClass="outputLabel"/>  
                    </h:panelGrid>
                </h:panelGrid>
 					<br/>
                <p:commandButton value="Submit" action="#{bookingController.createBooking()}" update="growl" process="@this">
                </p:commandButton>
            </p:panel>
        </p:tab>
    </p:wizard>
    <h3 > <p:link id="h3viewBookings" outcome="user/showBookings" value="Click here to view your bookings."></p:link></h3>
</h:form>	
</ui:composition>	
	