<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form>	
      <h1>Thank you for your booking!</h1>
    <p:commandButton value="Booking page" style="left" icon="ui-icon-check" action="/index?faces-redirect=true"/>	
</h:form>
</ui:composition>
