<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
<h:form>
      <h1>Booking failed, please try again!</h1>	
    <p:commandButton value="Booking page" style="left" icon="ui-icon-check" action="/index?faces-redirect=true"/>	
</h:form>
</ui:define>
</ui:composition>