<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Login</title>
        <h:outputStylesheet name="css/LoginStyle.css" />
    </h:head>
   		
        <form method="post" action="j_security_check">
  			<header>Login</header>
  			<label>Email<span>*</span></label>
  			<input type="text" name="j_username" required="true"/>
  			<label>Password <span>*</span></label>
  			<input type="password" name="j_password" required="true"/>
  		<!-- <div class="help">Use numbers, upper and lowercase letters as well</div> -->
  			<button action="submit">Sign in</button>
			</form>
</ui:composition>
